* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

.card {
  border-radius: 0.5rem !important;
  padding: 0rem;
  width: 100vh;
  /* shadow */
  box-shadow: 10px 10px 40px -2px rgba(0,0,0,0.75);
  -webkit-box-shadow: 10px 10px 40px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 40px -2px rgba(0,0,0,0.75);
  /* glass */
  background: rgba(255, 255, 255, 0.2) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(5px) !important;
  -webkit-backdrop-filter: blur(5px) !important;
  border: none !important;
}

.search {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
}

.search input{
    border-radius: 0.5rem !important;
    width: 100vh;
    padding: 0.5rem;
    /* shadow */
    box-shadow: 10px 10px 40px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 40px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 40px -2px rgba(0,0,0,0.75);
    /* glass */
    background: rgba(255, 255, 255, 0.2) !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    border: none !important;
}

.mainCard {
  margin-top: 2rem;
}

.app:before{
  content: '';
  background: url('./images/background02.jpg') no-repeat center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}